In [2]:
# Pandas is an Open Source Library which offers various data structures and operations for manipulating and analyzing numerical data and time series.

In [3]:
import pandas as pd

In [4]:
pd.DataFrame({'True': [100,1000] , 'False': [200,1500]})

   True  False
0   100    200
1  1000   1500

In [5]:
#Here the value of '0,False' = 200 , "1, True" = 1000

In [6]:
pd.DataFrame({'Yes':['Name', 'Maya'], 'No':['Number', '9080987678'] })

    Yes          No
0  Name      Number
1  Maya  9080987678

In [7]:
#DataFrames can be hetrogeneous in nature. 
#Standard way of declaring a dataframe is key as thier column name and List of values as the data inside them.
# Default indexing is in ascending order (0,1,2...). we can assign the indexes as per our requirement.

In [8]:
pd.DataFrame({'Company':['ABC','XYZ'], 'Customer':['Bob','John']}, index = ['Product A', 'Product B'])

          Company Customer
Product A     ABC      Bob
Product B     XYZ     John

In [9]:
# The list of row label is called index.
# Here, Product A and Product B in this example are the index names assigned