In [1]:
# Pandas is an Open Source Library which offers various data structures and operations for manipulating and analyzing numerical data and time series.

In [10]:
import pandas as pd
import numpy as np

In [3]:
pd.DataFrame({'True': [100,1000] , 'False': [200,1500]})

   True  False
0   100    200
1  1000   1500

In [4]:
#Here the value of '0,False' = 200 , "1, True" = 1000

In [5]:
pd.DataFrame({'Yes':['Name', 'Maya'], 'No':['Number', '9080987678'] })

    Yes          No
0  Name      Number
1  Maya  9080987678

In [6]:
#DataFrames can be hetrogeneous in nature. 
#Standard way of declaring a dataframe is key as thier column name and List of values as the data inside them.
# Default indexing is in ascending order (0,1,2...). we can assign the indexes as per our requirement.

In [7]:
pd.DataFrame({'Company':['ABC','XYZ'], 'Customer':['Bob','John']}, index = ['Product A', 'Product B'])

          Company Customer
Product A     ABC      Bob
Product B     XYZ     John

In [8]:
# The list of row label is called index.
# Here, Product A and Product B in this example are the index names assigned

In [9]:
# Pandas Series: 1-D labeled(hashable type) array which can hold any datatype.
# A column in excel is Series.

In [15]:
# Creating Series:
# Method-1:

array = np.array(['hi','bob','1','1.9'])
series = pd.Series(array)
print(series)

# Method-2:

list = ['1','john','9.8']
series2 = pd.Series(list)
print(series2)

0     hi
1    bob
2      1
3    1.9
dtype: object
0       1
1    john
2     9.8
dtype: object